.paper h5 {
    font-size: 1.3em;
    margin: 20px 0 10px;
}

.paper a:hover {
    text-decoration: underline;
}

.paper p {
    margin: 10px 0;
    display: -webkit-box;
}

.paper p.truncate {
    overflow: hidden;;
    text-overflow: clip;
    white-space: inherit;
    /* autoprefixer: off */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.paper footer {
    margin: 6px 0 20px;
}

.paper ul.meta {
    margin: 6px 0;
}

.paper ul.meta li {
    display: inline-block;
}

.paper ul.authors li {
    margin: 0 4px 0 0;
}

.paper ul.links li {
    margin: 0 16px 0 0;
}

#figures {
    display: flex;
    flex-wrap: wrap;
}

#figures img {
    width: 150px;
    height: auto;
    margin: 5px;
    border: 1px solid lightgray;
}

#tables {
    display: flex;
    flex-wrap: wrap;
}