/****************
**  Paper
****************/
.paper {
    padding-left: 23px;
}

.paper h5 {
    font-size: 1.3em;
    margin: 20px 0 10px;
}

.paper a:hover {
    text-decoration: underline;
}

.paper p {
    margin: 10px 0;
    display: -webkit-box;
}

.paper > .abstract {
    display: inline;
}

.paper > .abstract p {
    font-weight: 400;
    display: inline;
}

.paper p.truncate {
    overflow: hidden;;
    text-overflow: clip;
    white-space: inherit;
    /* autoprefixer: off */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}

.paper span > a {
    font-size: 95%;
    margin-left: 4px;
    font-weight: normal;
}

.paper header .authors {
    font-weight: 400;
}

.paper header h5 a {
    line-height: 1.4;
    font-weight: 400;
}

.paper footer {
    margin: 6px 0 20px;
}

.paper ul.meta {
    margin: 6px 0;
}

.paper ul.meta li {
    display: inline-block;
}

.paper .meta.links {
    font-size: 95%;
    font-weight: 400;
}

.paper .meta.links .material-icons {
    font-size: 22px;
    margin-right: 3px;
    color: #1e50a2;
}

.paper ul.authors li {
    margin: 0 4px 0 0;
}

.paper ul.links li {
    margin: 0 16px 0 0;
}

.paper em {
    font-style: normal;
    font-weight: 900;
}

/* Favorite */
.paper .favorite {
    position: absolute;
    left: -4px;
    top: 22px;
    width: 23px;
    height: 23px;
    text-align: center;
    cursor: pointer;
}

.paper:first-child .favorite {
    top: 1px;
}

.paper .favorite i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 23px;
}

.paper .favorite i.on {
    color: #ffe403;
    opacity: 0;
}

.paper .favorite i.off {
    color: #b9c0cc;
}

/****************
**  Figure
****************/
#figures {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.figure a:hover {
    text-decoration: underline;
}

.figure header h5 {
    font-size: 1.3em;
    margin: 20px 0 10px;

    line-height: 1.4;
    font-weight: 400;
}

.figure img {
    width: 100%;
    height: auto;
}

.figure footer p {
    margin: 10px 0;
    font-weight: 400;
}

/****************
**  Table
****************/

#tables {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.table a:hover {
    text-decoration: underline;
}

.table header h5 {
    font-size: 1.3em;
    margin: 20px 0 10px;

    line-height: 1.4;
    font-weight: 400;
}

.table img {
    width: 100%;
    height: auto;
}

.table footer p {
    margin: 10px 0;
    font-weight: 400;
}
