/****************
**
**  Global style
**
**  	COLOR
**			Main #1e50a2
**			Sub  #0a1933
**
**  	FONT
**			Main Basic
**  	    Sub  Arial
**
****************/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url('https://fonts.googleapis.com/css?family=Basic');

body {
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #0a1933;
}

a {
	color: #1e50a2;
}

div.container {
    width: 94%;
}


/****************
**
**  Header Navi 
**
****************/

.navbar-fixed {
    margin-bottom: 36px;
}

.navbar-fixed .nav-wrapper .row, 
.navbar-fixed .nav-wrapper .col {
    height: 100%;
}

.header-navi {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    min-height: 64px;
}

	/****************
	**  Logo
	****************/

	.header-navi .brand-logo {
		position: relative;
		display: block;
		height: 100%;
		margin-left: 18px;
		font-size: 0;
	}
	.header-navi .brand-logo img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		max-width: 140px;
	}
	@media only screen and (max-width: 992px) {
		.header-navi .brand-logo {
			margin-left: 0;
		    left: 0;
		    -webkit-transform: translateX(0); 
		    transform: translateX(0); 
		}
	}

	/****************
	**  Search
	****************/

	.header-navi .input-field {
		margin-top: 10px;
	}

	.input-field input[type=search] {
		display: block;
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: 44px;
	
		padding: 0 0 0 36px;

		color: #0a1933 !important;

		line-height: 44px;
		font-size: 16px;

		background-color: #fff;
		border: 1px solid rgba(137, 144, 156, 1);
		border-radius: 2px;
		outline: none !important;
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
	}

	.input-field input[type=search]:focus {
		box-shadow: none !important;
		border: 1px solid rgba(137, 144, 156, 1) !important;
	}

	.input-field .label-icon {
		position: absolute;
		top: 0;
		width: 40px;
		height: 44px;
	}

	.input-field .label-icon .material-icons {
		text-align: center;
		line-height: 44px;
		color: #0a1933;
	}

	:placeholder-shown,
	::-webkit-input-placeholder {
		color: rgba(10, 25, 51, 0.32);
	}