/****************
**
**  Global style
**
****************/
/* 
body{
	background-color: #dbdbdb;
} */
/****************
**
**  Header Navi
**
****************/

.navbar-fixed {
    margin-bottom: 36px;
}

.navbar-fixed .nav-wrapper .row,
.navbar-fixed .nav-wrapper .col {
	height: 100%;
	background-color: #203C62;
}

.header-navi {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    min-height: 64px;
}

/****************
**  Logo
****************/

	.header-navi .brand-logo {
		position: relative;
		display: block;
		max-width: 140px;
		height: 100%;
		margin-left: 18px;
		font-size: 0;
	}
	.header-navi .brand-logo img {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		max-width: 140px;
	}
	.header-navi ul a {
		/* color: #1e50a2; */
		color: #fff!important;
	}
	@media only screen and (max-width: 992px) {
		.header-navi .brand-logo {
			margin-left: 0;
		    left: 0;
		    -webkit-transform: translateX(0); 
		    transform: translateX(0); 
		}
	}

.header-navi .brand-logo img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 140px;
}

.header-navi ul a {
    color: #1e50a2;
}

@media only screen and (max-width: 992px) {
    .header-navi .brand-logo {
        margin-left: 0;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

	.header-navi .input-field {
		margin-top: 10px;
	}

	.input-field.input-field--search input[type=search]{
		border-radius: 4px;
		background-color: rgba(255,255,255,0.5);
		color: #fff!important;
	}

	.input-field.input-field--search input[type=search]::-webkit-input-placeholder{
		color: #fff;
	}

	.input-field.input-field--search .label-icon .material-icons{
		color: #fff;
	}

	.input-field.input-field--search .label-icon{
		top:-12px;
	}

	/*****************
	**   Breadcrunmbs
	*****************/
	.breadcrumbs-title {
		font-size: 1.5rem;
		line-height: 1.804rem;
		margin: 18px 0 0;
	}
	.breadcrumbs {
		padding: 0;
		margin: 5px 0;
		list-style: none;
	}
	.breadcrumbs>li {
		font-weight: bold;
		display: inline-block;
	}
	.breadcrumbs>li+li:before {
		padding: 0 5px;
		color: #666;
		content: "/\00a0";
	}
	.breadcrumbs .active {
		font-weight: normal;
		color: #999;
	}
